[user]
	name = Anton Kozyriev
	email = 22917736+antonAce@users.noreply.github.com
[branch "master"]
	mergeoptions = --no-ff
[pull]
	rebase = true
[alias]
	hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = diff HEAD^
	undo = reset --mixed HEAD^
	altmsg = commit --amend -m
